# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/sonarlint/issuestore/0/6/06bffad869e1f514274c02f9b2dfac7a06a4f9f5
/sonarlint/issuestore/9/f/9fe84ebb15faf917b7def6236dba604453cc61e0
/sonarlint/issuestore/b/0/b0973aebcccb4e59c22b93857b373fa80689948d
/sonarlint/issuestore/b/1/b17151ed37e677dfff2c07f0f7a73492f73924fb
/sonarlint/issuestore/c/e/ce807de8fee3c34a2e66803e0fb7dc408b22dde7
/sonarlint/issuestore/f/0/f0c5e3ffb0ea7800b57db1e79002e40c5dcad6af
